{% extends 'base.html.twig' %}

{% block user %}Hi {% endblock %}
{% block breadcrumb %} Home Page {% endblock %}
{% block entity %}Guest {% endblock %}
{% block entity2 %}Guest {% endblock %}
{% block action %}Edit {% endblock %}
{% block body %}
<div class="row-fluid">

    <div class="span12">
        <div class="head clearfix">
            <div class="isw-documents"></div>
            <h1>Event Edit</h1>
        </div>
        <div class="block-fluid">

            {{ form_start(edit_form) }}
            <div class="row-form clearfix">
                <div class="span2">Firstname:</div>
                <div class="span5">{{ form_widget(edit_form.firstname ) }}</div>
            </div>
            <div class="row-form clearfix">
                <div class="span2">Lastname:</div>
                <div class="span5">{{ form_widget(edit_form.lastname ) }}</div>
            </div>
            <div class="row-form clearfix">
                <div class="span2">E-Mail:</div>
                <div class="span5">{{ form_widget(edit_form.email ) }}</div>
            </div>
            <div class="row-form clearfix">
                <div class="span2">Mobile Number:</div>
                <div class="span5">{{ form_widget(edit_form.phone ) }}</div>
            </div>
            <div class="row-form clearfix">
                <div class="span2">Sex:</div>
                <div class="span2">{{ form_widget(edit_form.sex ) }}</div>
            </div>
            <div class="row-form clearfix">
                <div class="span2">Role:</div>
                <div class="span2">{{ form_widget(edit_form.role ) }}</div>
            </div>
            <div class="row-form clearfix">
                <div class="span2">Address:</div>
                <div class="span2">{{ form_widget(edit_form.address ) }}</div>
            </div>
            <div class="row-form clearfix">
                <div class="span2">Select Events:</div>
                <div class="span2">{{ form_widget(edit_form.events , { 'attr': {'multiple': 'multiple'}} ) }}</div>
            </div>

            {{ form_widget(edit_form) }}
            <div class="row-fluid">
                <div class="span10">

                </div>
                <div class="span2">
                    <button type="submit" class="btn btn-block">Edit Guest</button>
                </div>
            </div>
            {{ form_end(edit_form) }}
        </div>

    </div>

</div>

    <div class="dr"><span></span></div>
    <ul>
        <li>
            <a href="{{ path('guests_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
