{% extends 'base.html.twig' %}

{% block user %}Hi {% endblock %}
{% block breadcrumb %} Home Page {% endblock %}
{% block entity %}Items {% endblock %}
{% block entity2 %}Items {% endblock %}
{% block action %}Creation {% endblock %}
{% block body %}
    <div class="row-fluid">

        <div class="span12">
            <div class="head clearfix">
                <div class="isw-documents"></div>
                <h1>Item Creation</h1>
            </div>
            <div class="block-fluid">

                {{ form_start(edit_form) }}
                <div class="row-form clearfix">
                    <div class="span2">Name:</div>
                    <div class="span5">{{ form_widget(edit_form.name ) }}</div>
                </div>
                <div class="row-form clearfix">
                    <div class="span2">Amount:</div>
                    <div class="span5">{{ form_widget(edit_form.amount ) }}</div>
                </div>
                <div class="row-form clearfix">
                    <div class="span2">Status</div>
                    <div class="span5">{{ form_widget(edit_form.status ) }}</div>
                </div>
                <div class="row-form clearfix">
                    <div class="span2">Start Date:</div>
                    <div class="span1">{{ form_widget(edit_form.startDate.day) }}</div>
                    <div class="span1">{{ form_widget(edit_form.startDate.month) }}</div>
                    <div class="span1">{{ form_widget(edit_form.startDate.year) }}</div>
                </div>
                <div class="row-form clearfix">
                    <div class="span2">End Date:</div>
                    <div class="span1">{{ form_widget(edit_form.endDate.day) }}</div>
                    <div class="span1">{{ form_widget(edit_form.endDate.month) }}</div>
                    <div class="span1">{{ form_widget(edit_form.endDate.year) }}</div>
                </div>
                <div class="row-form clearfix">
                    <div class="span2">Payment Due Date:</div>
                    <div class="span1">{{ form_widget(edit_form.paymentDueDate.day) }}</div>
                    <div class="span1">{{ form_widget(edit_form.paymentDueDate.month) }}</div>
                    <div class="span1">{{ form_widget(edit_form.paymentDueDate.year) }}</div>
                </div>
                <div class="row-form clearfix">
                    <div class="span2">Amount Already Paid:</div>
                    <div class="span5">{{ form_widget(edit_form.amountPaid ) }}</div>
                </div>
                <div class="row-form clearfix">
                    <div class="span2">Balance:</div>
                    <div class="span5">{{ form_widget(edit_form.balance ) }}</div>
                </div>
                <div class="row-form clearfix">
                    <div class="span2">Select Vendors:</div>
                    <div class="span5">{{ form_widget(edit_form.vendors ) }}</div>
                </div>
                <div class="row-form clearfix">
                    <div class="span2">Select Events:</div>
                    <div class="span2">{{ form_widget(edit_form.events, { 'attr': {'multiple': 'multiple'}} ) }}</div>
                </div>

                <div class="row-fluid">
                    <div class="span10">

                    </div>
                    <div class="span2">
                        <button type="submit" class="btn btn-block">Edit Item</button>
                    </div>
                </div>
                {{ form_end(edit_form) }}
            </div>

        </div>

    </div>

    <div class="dr"><span></span></div>
    <ul>
        <li>
            <a href="{{ path('items_index') }}"><button class="btn btn-link" type="button">Back to the list</button></a>
        </li>
    </ul>
{% endblock %}
