{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vendors</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vendor.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ vendor.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ vendor.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ vendor.city }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ vendor.state }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ vendor.country }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ vendor.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ vendor.phone }}</td>
            </tr>
            <tr>
                <th>Referedby</th>
                <td>{{ vendor.referedBy }}</td>
            </tr>
            <tr>
                <th>Referalphone</th>
                <td>{{ vendor.referalPhone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vendors_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('vendors_edit', { 'id': vendor.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
