{% extends 'base.html.twig'%}

{% block user %}Hi {% endblock %}
{% block breadcrumb %} Home Page {% endblock %}
{% block entity %}Couple {% endblock %}
{% block entity2 %}Couple {% endblock %}
{% block action %}List {% endblock %}

{% block body %}
<div class="dr"><span></span></div>

<div class="row-fluid">

    <div class="span12">
        <div class="head clearfix">
            <div class="isw-grid"></div>
            <h1>Sortable table</h1>
        </div>
        <div class="block-fluid table-sorting clearfix">
            <table cellpadding="0" cellspacing="0" width="100%" class="table" id="tSortable">
                <thead>
                <tr>
                    <th><input type="checkbox" name="checkall"/></th>
                        <th>Id</th>
                        <th>Firstname</th>
                        <th>Middlename</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Sex</th>
                        <th>Dob</th>
                        <th>Role</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

        {% for couple in couples %}
            <tr>
                <td><input type="checkbox" name="checkbox"/></td>
                <td><a href="{{ path('couple_show', { 'id': couple.id }) }}">{{ couple.id }}</a></td>
                <td>{{ couple.firstname }}</td>
                <td>{{ couple.middlename }}</td>
                <td>{{ couple.lastname }}</td>
                <td>{{ couple.email }}</td>
                <td>{{ couple.phone }}</td>
                <td>{{ couple.sex }}</td>
                <td>{% if couple.dob %}{{ couple.dob|date('Y-m-d') }}{% endif %}</td>
                <td>{{ couple.role }}</td>
                <td>{{ couple.image }}</td>
                <td>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('couple_show', { 'id': couple.id }) }}">show</a>
                        </li>
                            <li class="divider"></li>
                        <li>
                            <a href="{{ path('couple_edit', { 'id': couple.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('couple_new') }}"><button class="btn btn-link" type="button">Create a new entry</button></a>
        </li>
    </ul>
{% endblock %}
