{% extends 'base.html.twig' %}

{% block body %}
    <h1>Events list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Venue</th>
                <th>Numberofguests</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('events_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.name }}</td>
                <td>{{ event.venue }}</td>
                <td>{{ event.numberOfGuests }}</td>
                <td>{% if event.date %}{{ event.date|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('events_show', { 'id': event.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('events_edit', { 'id': event.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('events_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
